html { }

header {
    margin-top: 20px;
}

.blurBackground {
    -moz-background-size: cover;
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-background-size: cover;
    -o-filter: blur(5px);
    -webkit-background-size: cover;
    -webkit-filter: blur(5px);
    background: url('../img/spartyBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

h1 {
    background-color: #18453B;
    color: #ffffff;
    margin-top: 0;
}

h2, h3 { color: #18453B; }

.selectedHeader {
    background-color: #fff !important;
    color: #18453B !important;
}

.headerButton, .headerButton:hover, .headerButton:focus {
    background-color: #18453B;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.headerButton:hover { background-color: #748f89; }

.headerRow {
    font-size: 20px;
    font-weight: bold;
}

.leaderRow:nth-child(odd) {
    background-color: #18453B;
    color: #fff;
}

.leaderRow:nth-child(even) {
    background-color: #fff;
    color: #18453B;
}


.myPicksImagesContainer {
    text-align: center;
}

.myPicksRow {
    border: solid 1px #18453B;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 5px;
}

.teamSelected { background-color: lightgreen; }

.myPicksGameName { font-style: italic; }

.pickHeaders {
    font-size: 12px;
    font-style: italic;
}

.loginInput { width: 100%; }

.errorMessage { color: red; }

.pageContainer {
    background-color: #fff;
    transition-timing-function: ease;
    transition-duration: 250ms;
}

.myPicksFinal {
    pointer-events: none;
}

.myPicksImage {
    height: 30px;
    width: 30px;
}

.toggle.ng-enter {
 -webkit-transition: 0.25s linear all; /* Safari/Chrome */
 transition: 0.25s linear all; /* All other modern browsers and IE10+ */

 /* The animation preparation code */
 opacity: 0;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.toggle.ng-enter.ng-enter-active {
 /* The animation code itself */
 opacity: 1;
}


.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}